body{
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.main_sections {
    float: left;
    display: inline;
}

/*ESTILO LEFT MENU*/

.main_sections.left {
    width: 25%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    
}

.upper_section {
    float: left;
}

.upper_section.left {
    width: 50%;
}

.upper_section.right{
    width: 50%;
    
}
.upper_section.right__list{
    padding-inline-start: 0em;
    list-style-type: none; /* Eliminar los puntos de lista */
    align-content: flex-start;
    padding: 0em;
}

.to_do_button {
    background-color: #6247AA;
    color: white;
    border-style: solid;
    border-color: currentColor;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

/* ESTILO DE LA SIDEBAR */

.sidebar_list{
    padding-inline-start: 0em;
    list-style-type: none; /* Eliminar los puntos de lista */
    align-content: flex-start;
}
.sidebar_nav__listElement{
    padding-bottom: 20px;   /* Añadir espacio entre los elementos de la lista */
}

.icon_sidebar {
    transition: 0.4s linear;
}

.title_sidebar {
    padding-left: 15%;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


@media screen and (max-width: 600px) {
    .main_sections.left, .main_sections.right {
        width: 100%;
    }
    
}

/* ESTILO RIGHT MENU*/
.main_sections.all_duties {
    width: 75%;
    background-color: #F1F1F1;
    display: inline;
    
    padding-top: 50px; 
    padding-left: 15px;
    align-items: left;
}
/*TITULO*/
.all_duties.title {
    display: inline;
    padding-left: 20px;
    display: flex;
}
h1.title {
    font-weight: bolder;
    font-size: 23px;
    text-shadow: 1px 1px 4px #00000077;
}
/*BOTONES NAVEGACION*/
.right_nav {
    margin: 0px;
    display: inline-block;
    display: flex;
    align-items: center;
    
}
.right_nav.selectAll {
    margin-right: 25px;
    background-color: #F1F1F1;
}
.nav_element {
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    color: #000000;
}
.selectAll{
    width: 150px;
    background-color: #AAA1C8;
    border-color: #AAA1C8;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0px;
}
.selectAll:active{
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #6247AA;
    border-color: #6247AA;
}
.grey_button{
    background-color: #C6C6C6;
    border-color: #C6C6C6;
    margin-right: 10px;
}
.grey_button:active{
    background-color: #8B74D8;
    border-color: #8B74D8;
}
/*BUSQUEDA NAVEGACIÓN*/
.right_nav#search {
    padding-left: 250px;
}
.nav_element#search{
    background-color: rgb(170, 161, 200, 0.25);
    border-style: none;
    background-image: url(../media/search_icon.svg);
    background-position: 190px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
/*LISTA DE TAREAS*/
.all_duties.duties{
    display: flex;
    align-items: center;
    padding-right: 10px;
    list-style-type: none;
}
.duties {
    display: inline-block;
}
.duty{
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    background-color: white;
    border-color: white;
    height: 60px;
}
.duty.check{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    height: 20px;
    width: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.duty.info {
    margin-left: 5px;
    width: 500px;
    
}

.info.img{
    height: 20px;
}

