body{
    background-color: #DEDEDE;
    font-family: 'Roboto', sans-serif;
}

.main_sections {
    float: left;
}

.main_sections.left {
    width: 396;
    height: 988;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.main_sections.right {
    width: 75%;
    background-color: currentColor;
}

.upper_section {
    float: left;
}

.upper_section.left {
    width: 50%;
}

.upper_section.right{
    width: 50%;
    
}

.upper_section.right__list{
    padding-inline-start: 0em;
    list-style-type: none; /* Eliminar los puntos de lista */
    align-content: flex-start;
    padding: 0em;
}

.to_do_button {
    background-color: #6247AA;
    color: white;
    border-radius: 8px;
    border-color: currentColor;
    width: 100%;
    padding: 10px;
}

/* ESTILO DE LA SIDEBAR */
.sidebar_list{
    padding-inline-start: 0em;
    list-style-type: none; /* Eliminar los puntos de lista */
    align-content: flex-start;
}
.sidebar_nav__listElement{
    padding-bottom: 20px;   /* Añadir espacio entre los elementos de la lista */
}

.icon_sidebar {
    transition: 0.4s linear;
}

.title_sidebar {
    padding-left: 15%;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


@media screen and (max-width: 600px) {
    .main_sections.left, .main_sections.right {
        width: 100%;
    }
    
}